	[Unit]
	Description=Bitbucket  the Git solution for professional teams
	After=syslog.target network.target

	[Service]
	Type=forking
	User=atlbitbucket
	PIDFile=/var/atlassian/application-data/bitbucket/log/bitbucket.pid
	ExecStart=/opt/atlassian/bitbucket/5.0.1/bin/start-bitbucket.sh
	ExecStop=/opt/atlassian/bitbucket/5.0.1/bin/stop-bitbucket.sh

	[Install]
	WantedBy=multi-user.target
